.profile:hover{
    img{
        transform: scale(1.06);
    }
}

.logout:hover{
    transform: scale(1.04);
    box-shadow: 2px 3px 6px var(--color-gray-80);
}

.excluir-conta:hover{
    transform: scale(1.04);
    box-shadow: 2px 3px 6px var(--color-gray-80);
}

.logout:focus{
    background-color: var(--color-purple);
    transform: scale(0.98);
    transition: .05s;
}

.excluir-conta:focus{
    background-color: var(--color-purple);
    transform: scale(0.98);
    transition: .05s;
}

.add-task:hover{
    transform: scale(1.04);
    box-shadow: 2px 3px 6px var(--color-gray-80);
}

.cancel:hover{
    transform: scale(1.04);
    box-shadow: 2px 3px 6px var(--color-gray-80);
}

.add-task:focus{
    background-color: var(--color-red);
    transition: .05s;
}

.cancel:focus{
    background-color: var(--color-gray-30);
    transition: .05s;
}

.trocar-historico:hover {
    transform: scale(1.04);
}

.trocar-historico:focus{
    color: var(--color-purple);
    transition: .05s;
}

.trocar_inicio:hover {
    transform: scale(1.04);
}

.trocar_inicio:focus {
    color: var(--color-purple);
    transition: .05s;
}

.concluir:hover{
    transform: scale(1.1);
}

.concluir:focus{
    transform: scale(0.96);
    transition: .05s;
}

.delete:hover{
    transform: scale(1.1);
}

.delete:focus{
    transform: scale(0.96);
    transition: .05s;
}

.btn_reset:hover{
    transform: scale(1.04);
    box-shadow: 2px 3px 6px var(--color-gray-80);
}