.card>input:focus {
    outline: none;
    transform: scale(1.02);
}

.botao:hover {
    transform: scale(1.04);
}

.botao:focus {
    background-color: var(--color-blue);
    transform: scale(0.98);
    transition: .05s;
}

.link:hover {
    color: var(--color-blue);
}