@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-dark-body);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

/* Titulo */

.cabecalho{
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  background-color: var(--color-dark-header);
  box-shadow: 0 3px 8px var(--color-gray-80);
  transition: background 0.2s linear;
  margin-bottom: 8rem;
}

.logo {
  display: flex;
}

/* Card de cadastro */

.card {
  background-color: var(--color-white-40);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 45rem;
  height: 30rem;
  font-family: "Roboto Mono";
  border-radius: .5rem;
  box-shadow: 2px 3px 6px var(--color-gray-80);
  transition: .2s;
}

.card {
  background-color: var(--color-dark-header);
  box-shadow: 2px 3px 6px var(--color-gray-80);

  h2 {
    color: var(--color-gray-30);
    font-size: 25pt;
    margin-bottom: 5rem;
    transition: .2s;
  }

  input {
    background-color: var(--color-black-80);
    color: var(--color-gray-20);
    box-shadow: 2px 3px 6px var(--color-gray-80);
    margin-bottom: 1rem;
    width: 32rem;
    height: 2.7rem;
    padding: 0.2rem 0.8rem;
    border: none;
    border-radius: .5rem;
    font-family: "Roboto Mono";
    font-size: var(--font-size-12);
    transition: 0.3s;
  }

  input::placeholder {
    color: var(--color-gray-20);
    font-size: var(--font-size-12);
    transition: .2s;
  }

  .botao {
    background-color: var(--color-blue);
    color: var(--color-gray-20);
    box-shadow: 2px 3px 6px var(--color-gray-80);
  }
}

.alerta{
  align-self: flex-start;
  color: var(--color-red);
  font-size: 10pt;
  margin-left: 6.5rem;
  height: 0;
  max-height: 1rem;
  overflow: hidden;
  transition: .2s;
}

.a_nome-email.show,
.a_email.show,
.a_senha.show{
  height: 1rem;
  margin-bottom: .7rem;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 2.5rem;
  margin-top: 3rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-size: var(--font-size-12);
  font-family: "Roboto Mono";
  font-weight: 500;
  background-color: var(--color-blue);
  color: var(--color-white-01);
  box-shadow: 2px 3px 3px var(--color-gray-80);
  transition: 0.3s;
}

/* link para login */

.trocar_page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
  gap: 0.65rem;
  font-family: "Roboto Mono";
  font-size: 11pt;
}

.link {
  color: var(--color-blue);
  text-decoration: underline;
  transition: 0.12s;
}
