.task-list{
    margin-top: .7rem;
    overflow: auto;
    scrollbar-width: none;
    height: auto;
    max-height: 24rem;
    width: 45rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.task {
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-dark-header);
    margin-bottom: .7rem;
    width: 45rem;
    max-width: 45rem;
    height: auto;
    padding: .7rem;
}

.check-task{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 2rem;
}

.concluir{
    width: 32px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.infor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    width: 38rem;
    max-width: 38rem;
    .title-task{
        font-size: 18pt;
        font-weight: bold;
    }
    .description{
        width: 30rem;
        max-height: 4.1rem;
        overflow: auto;
        scrollbar-width: none;
        word-wrap: break-word;
        .description-task{
            font-size: 13pt;
        }
    }
    .DPC{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
}

.excluir-task{
    width: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .delete{
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: .3s;
    }
}

.dashed{
    text-decoration: line-through;
}

.concluida {
    cursor: default;
    width: 32px;
    border-radius: 50%;
    background-color: transparent;
    outline: none;
}

